header, .board{
  margin: 0 auto;
}
header{
  border: 10px solid white;
}
h1{
  font-size: large;
  color: white;
}
h2{
  font-size: medium;
  color: white;
}
body{
  background-color: black;
}
.board{
  /*min-width: 300px;
  min-height: 300px;*/
  width: 300px;
  height: 400px;
  background-color: transparent;
}
p{
  color: gold;
  text-align: center;
}
.square{
  width: 92px;
  height: 92px;
  background-color: white;
  z-index: 2;
  display: inline-block;
  font-size: 50px;
  text-align: center;
  line-height: 200%;
}
